<a href="https://colab.research.google.com/github/Sreetam/Prevention-of-Guessed-Password-Attacks-GPA-/blob/main/Initial_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#The following code separates the passwords and the corresponding username and ip
#address that the user used to access
filepath = "brute_force_data.csv"
df = pd.read_csv(filepath)
passc = list(df.columns[2:len(df.columns)])
passwords = []
record = []

passc.remove('foreign_ip')

for i in range(len(df)):
  record = []
  for j in passc:
    if(pd.isna(df[j][i])!=True):
      record.append(df[j][i])
  passwords.append(record)

df = df.drop(columns=passc)
df['passwords'] = passwords

In [3]:
df

      username  ...                                          passwords
0       albert  ...                               [, albert, 123456]
1         root  ...                        [digi, daddy913, covergirl]
2         root  ...  [qwerty11, qwerty12, qweqweqwe, qwer`123, qwer...
3         root  ...                           [123456, root, password]
4         root  ...                        [lomtjjz, lolita, jake1996]
...        ...  ...                                                ...
14790     root  ...                       [swampy, sw0rdf1sh, sverige]
14791     root  ...                         [spiros, spencer, snicker]
14792     root  ...                        [^%$, zxczxczxc, whatisit1]
14793     root  ...                        [passwrod, root123, ubuntu]
14794     root  ...                     [longshot, joshua123, hunter3]

[14795 rows x 4 columns]